* {
  font-family: 'Abel', sans-serif;
}

body {
  font-family: sans-serif;
  color: #000;
  background: #F5F9FA;
  margin: 0;
}

.photo {
  margin: 0 0 0 55px;
  padding: 40px 40px;
  max-width: 43%;
}

img {
  max-width: 100%;
  margin:0;
}

section.photo, section.text {
  max-width: 45%;
}

.text {
  padding: 20px;
  line-height: 1.5;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:0;
  max-width: 525px;
}

h1 {
  color: #fff;
  text-align: center;
  padding-left: 2em;
  font-size: 2.5em;
}

h2 {
  font-size: 2.5em;
}

header {
  display: flex;
  background: #191A19;
  padding: 2rem;
  justify-content: space-between;
  margin:0;
  align-items: center;
  font-size: 1.5rem;
}

nav ul {
  display: flex;
  list-style: none;
  margin:0;
}

nav ul li {
  margin:0 10px;
  margin-left: 3rem;
  font-size: 1.7rem;
}

footer p {
  text-align: center;
  color: #fff;
  margin: 0;
}

footer {
  background: #191A19;
  padding: 40px;
}
footer a {
  color: #9FEEFE;
  text-decoration: none;
}


/* ********************   popups stuff ******************** */

section.popup-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  max-width: 800px;
}

.popup {
  position: fixed;
  top: 50%; /* centers the popup */
  left: 50%; /* centers the popup */
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 50px;
  box-shadow: 15px 15px rgba(0, 0, 0, .30);
  background: #fff;
  /* all popups hidden via CSS */
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

/* a popup is un-hidden via this class */
.popup-active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

/* affects only images in the blur DIVs */
div.blur div.content img {
  max-width: 100%;
}

.blur {
  background: #F5F9FA;
  display: flex;
  padding: 20px 0;
}

/* a blur is created via this class */
.blur-active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

/* these are buttons named Close or Read More */
.read-more {
  position: relative;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 5px;
  text-decoration: none;
  color: #fff;
  background: #111;
  cursor: pointer;
}

/* ******************** stuff not for popups below ******************** */

nav ul li a {
  color: #fff;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  text-transform: uppercase;
  text-decoration: none;
}

nav ul li a:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  border: 2px solid transparent;
}

nav ul li a:hover:before {
  animation: animate 1s linear forwards;
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: #fff;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: #fff;
    border-right-color: #fff;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: #fff;
    border-right-color: #fff;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

nav ul li a:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  border: 2px solid transparent;
}

nav ul li a:hover:after {
  animation: animate2 1s linear forwards;
  animation-delay: 1s;
}

@keyframes animate2 {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #fff;
  }

  50% {
    width: 0%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #fff;
    border-left-color: #fff;
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #fff;
    border-left-color: #fff;
  }
}

#intro {
  align-items: center;
  margin: 30px;
  padding-top: 15px;
  padding-left: 325px;
  padding-right: 100px;
  max-width: 750px;
  text-align: left;
  font-size: 1.5em;
}



@media screen and (max-width: 650px) {
header {
  padding: 0;
  font-size: 1em;
}
nav ul li {
  margin: 0;
  font-size: 1rem;
}
h1 {
  display: none;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0;
  text-align: left;
}
#intro {
  text-align: left;
  font-size: 1em;
  margin: 0;
  padding: 15px;
  padding-bottom: 0;
}
section {
  padding: 15px;
  margin-top: 0;
  padding-top: 0;
}
.popup {
  width: 300px;
}
}
